body {
  background-image: url('logo.png');
  background-size: 19%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-color: lightgreen;
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  height: 20px;
}
h1 {
    padding-top: 60px;
    text-align: center;
    color: black;
    font-size: 30px;
    font-style: oblique;
    color: #000000;
}

.active {
  background-color: #4CAF50;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

img {
  width: 70%;
}

tr {
  text-align: center;
}
